<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>contact</title>
    <link rel="stylesheet" href="/style.css">
   <%- include('./partials/head.ejs') %> 
  </head>
  <body>
    <%- include('./partials/nav.ejs') %> 
    <h1>....ooops!</h1>
    <%= title  %> 
    <%- include('./partials/footer.ejs') %> 
  </body>
</html>