<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("./partials/head.ejs") %> 
  <body>
    <h1>about page . Is not this wonderful?</h1>
    <p>email or phone me</p>
    <%- include("./partials/nav.ejs") %> 
    <%- include("./partials/footer.ejs") %>
  </body>
</html>